/* gallery page */
.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

img.pic-gallery{
	position: relative;
	width: 249px;
	height: 200px;
	transition: all .2s ease-in-out;
}
.bottom-right {
    position: relative;
    bottom: 10%;
    color: white;
    font-family: Akronim;
}