/* Horizontal NavBar */
nav a {
    text-decoration: none;
    color: #000000;
    font-size: 110%;
    font-family: 'Open Sans', sans-serif;   
}

li {
    text-decoration: none;
    display: inline-block;
    margin: 8% 4% -1% 4%;
    padding: 1%;
}

/* Adding NavBar Background */

.main-nav {
    background: linear-gradient(to right, #0000cc 0%, #ffff66 100%);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    z-index: 9999;
    margin: -10%;
    z-index: 1000;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    transition: box-shadow 0.5s;
}


/* Setting Hover States */

a:hover {
    color: #a9a9a9;
}

a:active {
    color: #a9a9a9;
}

/* Body Styles */

body {
   
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: top;
}


.nav-hover{
    font-size: 1.2em;
    font: black;
    font: bold;
}

#owl-example{
    margin-top: 10%;
    
}


/*Arrow*/


.center-con {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.round {
    position: relative;
    border: 3px solid #000000;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.span {
    z-index: 999;
    height: 3px;
    margin:1px;
    width: 30px;
    background: #000000;
    transition: 0.4s ease;
}

.span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

.span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

.span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

.span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
}


/* about background */

.fixed-bg {

    /* The background image */
/*    background-image: url("https://www.instagram.com/p/BZyqD17j1CSDKg651gOuQQ8ucWib99GxSp8tWg0/?taken-by=lordcarr_");  */
    /* Set a specified height, or the minimum height for the background image */
    min-height: 100%;
    width:100%;
 
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: scroll;
    /* Center the background image */
/*     background-position: center; */
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
}

.hide{
	display: none;
	visibility: hidden;
}
