/* Horizontal NavBar */
nav a {
    text-decoration: none;
    color: #000000;
    font-size: 110%;
    font-family: 'Open Sans', sans-serif;   
}

li {
    text-decoration: none;
    display: inline-block;
    margin: 8% 4% -1% 4%;
    padding: 1%;
}

/* Adding NavBar Background */

.main-nav {
    background: linear-gradient(to right, #0000cc 0%, #ffff66 100%);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    z-index: 9999;
    margin: -10%;
    z-index: 1000;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    transition: box-shadow 0.5s;
}


/* Setting Hover States */

a:hover {
    color: #a9a9a9;
}

a:active {
    color: #a9a9a9;
}

/* Body Styles */

body {
   
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: top;
}


.nav-hover{
    font-size: 1.2em;
    font: black;
    font: bold;
}

#owl-example{
    margin-top: 10%;
    
}




/*Arrow*/


.center-con {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.round {
    position: relative;
    border: 3px solid #000000;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.span {
    z-index: 999;
    height: 3px;
    margin:1px;
    width: 30px;
    background: #000000;
    transition: 0.4s ease;
}

.span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

.span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

.span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

.span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
}


/* about background */

.fixed-bg {

    /* The background image */
   
    /* Set a specified height, or the minimum height for the background image */
    min-height: 70%;
	padding-top: 10%;
 
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
}

.bio-font{
	color: white;
	 text-align: center;
	 font-family: PT Sans;
}

.bio-font-body{
	color: white;
	font-size: 1.6em;
	 text-align: center;
	 font-family: PT Sans;
}

/* Social Media fa */
.fa-container{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa {
    margin-top: 40%;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
	background: #4137f9;
	color: white;
}

/* CONTACT FORM */

.field-wrap {
	height: 75px;
	position: relative;
	color: #aaa;
	margin-bottom: 40px;
	font-size: 1.3em;
}

.message{
	height: 100px;
}

input, textarea {
	font-size: 22px;
	display: block;
	width: 60%;
	height: 100%;
	padding: 5px 10px;
	background: none;
	background-image: none;
	border: 1px solid #a0b3b0;
	color: #000000;
	border-radius: 5px;
	-webkit-transition: border-color .25s ease, box-shadow .25s ease;
	transition: border-color .25s ease, box-shadow .25s ease;
}
input:hover, input:focus, textarea:focus {
	outline: 0;
	border-color: #ccae51;
}

textarea {
	border: 1px solid #a0b3b0;
	resize: vertical;
}
.form-container{
	margin-top: 10%;
	position: absolute;
    right: 0px;
	margin: auto;
    width: 40%;
    padding: 10px;
}


.msg-container{
	margin-top: 10%;
	margin-left: 45%;
}